{extend name="public/base" /}
{block name="content"}
<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">

        <div class="zuo" style="margin:0 auto;width:80%;">
            <h1 style="font-size: 2em;color:black;">郑州赛思特电子科技有限公司</h1>
            <br>
            <p>&nbsp; <span style="font-size: 24px;">&nbsp;<strong>公司简介</strong></span></p>
            <p>&nbsp; &nbsp;</p>
            <p>&nbsp; &nbsp;
                郑州赛思特电子科技有限公司成立于2013年，注册于2016年，前身是做软件开发APP开发，16年开始专注区块链技术的研发，经过三年的钻研和历练，通过了众多海内外客户的认可，获得了一定的口碑，目前公司业务有：区块链技术开发，数字货币交易所开发，数字货币钱包开发，区块链股权交易系统，等等。赛思特专注区块链上的应用开发，凭借雄厚的技术实力及丰富的业务积累，基于区块链技术，
                成功打造多行业和场景化链上应用系统及解决方案。为包括企业私链搭建、行业联盟链、
                商品溯源、供应链金融、版权保护等众多领域的“区块链＋产业”落地提供了方向。公司团队通过在区块链行业的自主探索和实践，已经拥有完备的区块链底层技术和一批成熟的创新应用，不断引领区块链商业创新，丰富区块链生态建设。</p>

            <br/><p>&nbsp;
                本平台是郑州赛思特在17年研发并开放的，致力于区块链技术的推广，公司一致决定将开发代币的定价做到全国最低，使想了解并进军区块链行业或个人有一个更加亲民的价格和机会。欢迎社会各界人士一起来为赛思特平台做出检验，如有区块链方面的定制开发需要也可以随时联系我司！在此谢谢合作！&nbsp;&nbsp;</p>
            <p><br/><br/><img src="__IMG__/1564471206.jpg" title="扫码添加微信资讯"
                    alt="公司微信.jpg"/></p></div>
        <div>
        </div>
        <br/><br/><br/>
    </div>
    {/block}