{extend name="public/base" /}
{block name="content"}
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6"><span class="panel-note"> 修改登录密码</span></div>

                    </div>
                </div>
                <!-- RECENT PURCHASES -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">请认证填写下方信息！</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal" action="{:url('index/index/editPassword')}"
                                      method="post" id="form_role">

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               style="margin-top:13px;"> 原始密码 </label>
                                        <div class="col-sm-6">
                                            <input name="old_password" value="" placeholder="请填写原始密码"
                                                   class="form-control input-lg" type="password">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               style="margin-top:13px;"> 新密码 </label>
                                        <div class="col-sm-6">
                                            <input name="new_password" value="" placeholder="请填写新密码"
                                                   class="form-control input-lg" type="password">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               style="margin-top:13px;"> 确认密码 </label>
                                        <div class="col-sm-6">
                                            <input name="con_password" value="" placeholder="请填写确认密码"
                                                   class="form-control input-lg" type="password">
                                        </div>
                                    </div>


                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="button" id="submit"> 确认修改</button>
                                        </div>
                                    </div>
                                    <div class="hr hr-24"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RECENT PURCHASES -->
            </div>
        </div>
    </div>

    <script>
        layui.use(['jquery', 'form'], function () {
            var $ = layui.jquery,
                form = layui.form,
                layer = layui.layer;

            $(function () {
                $("#submit").click(function () {

                    var old_password = $('input[name="old_password"]').val();
                    var new_password = $('input[name="new_password"]').val();
                    var con_password = $('input[name="con_password"]').val();

                    if (old_password == '' || new_password == '' || con_password == '') {
                        layer.msg('请认真填写表单信息');
                        return false;
                    }

                    $.ajax({
                        type: "POST",
                        url: $("#form_role").attr("action"),
                        dataType: 'json',
                        data: $('#form_role').serialize(),
                        success: function (data) {
                            if (data.status == 1) {
                                layer.alert(data.message, {
                                    icon: 1,
                                    skin: 'layer-ext-moon'
                                }, function () {
                                    window.location.href = data.url;
                                });
                            } else {
                                layer.alert(data.message, {
                                    icon: 0,
                                    skin: 'layer-ext-moon'
                                }, function () {
                                    window.location.reload();
                                });
                            }
                        }
                    });
                });
            });
        });
    </script>
    {/block}