{extend name="public/base" /}
{block name="content"}
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6"><span class="panel-note"><i class="lnr lnr-user"></i> 基本信息</span></div>
						</div>
					</div>
					<!-- RECENT PURCHASES -->
					<div class="panel">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-2">姓名</div>
								<div class="col-md-6">{$data.truename}</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-2">用户名</div>
								<div class="col-md-6">{$data.khName}</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-2">联系方式</div>
								<div class="col-md-6">
									{if condition="$data.mobile == null"}
									暂无联系方式
									{else}
									{$data.mobile}
									{/if}
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-2">密码</div>
								<div class="col-md-6"><p class="text-danger"><a href="{:url('index/index/editPassword')}"><code>点击此处修改密码 </code></a></p></div>
							</div>
							<br/>

						</div>
					</div>
					<!-- END RECENT PURCHASES -->
				</div>
			</div>
		</div>
{/block}