{extend name="public/base" /}
{block name="content"}
<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">
        <div class="panel">

            {if condition="$count neq null"}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6"><span class="panel-note"> <h3 class="panel-title">当前您有{$count}个项目</h3></span>
                    </div>
                </div>
            </div>
            {else}
            <div class="panel-heading">
                <h3 class="panel-title">当前您还没有项目</h3>
            </div>
            {/if}
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>项目名称</th>
                        <th>提交时间</th>
                        <th>项目状态</th>
                        <th>查看</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='data' id='data' key='kkk'}
                    <tr>
                        <td>{$kkk}</td>
                        <td>{$data.proName}</td>
                        <td>{$data.create_time}</td>
                        {if $data.status==0}
                        <td><span class="label label-warning">等待审核</span></td>
                        <td></td>
                        {elseif $data.status==1}
                        <td><span class="label label-success">已完成</span></td>
                        <td><a href="{:url('project/detail',array('id'=>$data.id))}">查看详情</a></td>
                        {else}
                        <td><span class="label label-info">正在进行中</span></td>
                        <td><a href="{:url('project/detail',array('id'=>$data.id))}">查看详情</a></td>
                        {/if}
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {/block}
