{include file="public/header"}
<div style="margin:0 auto;text-align: center;width:30%;">
    <div style="margin-top:30px;">
<button type="button" class="layui-btn" id="xuqiu">
    <i class="layui-icon">&#xe67c;</i>上传需求
</button>
        <div>说明：只能上传一个文件，请您最好上传需求分析书</div>
        <input type="hidden" value="{$buzhou}" id="buzhou">
        <input type="hidden" value="{$pro_id}" id="pro_id">
    </div>
    <div style="margin-top:40px;">
<button type="button" class="layui-btn" id="action">开始上传</button>
    </div>
</div>
{include file="public/footer"}
<script>
    layui.use('upload', function(){
        var $ = layui.jquery,
            upload = layui.upload;

        //执行实例
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#xuqiu'
            ,accept: 'file' //普通文件
            ,auto:false
            ,bindAction: '#action'
            ,url: '{:url("index/project/doUpload")}' //改成您自己的上传接口
            ,data:{
                pro_id:function () {
                    return $("#pro_id").val();
                },
                buzhou:function () {
                    return $("#buzhou").val();
                }
            }
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                var files = this.files = obj.pushFile();
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                layer.msg('上传成功',{
                    time:1500
                },function () {
                    parent.window.location.reload();
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);
                });

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>