<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title|default='赛思特'}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="__STATIC__/assets/css/main.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/zheDie.css">
    {load href="__CSS__/public/public.css"/}
    {load href="__LAYUI__/css/layui.css"/}
    {load href="__CSS__/admin/layuimini.css"/}
    {load href="__CSS__/font-awesome-4.7.0/css/font-awesome.min.css"/}
    {load href="__CSS__/iconfont/iconfont.css"/}
    {load href="__CSS__/admin/admin.css"/}
    <!-- ICONS -->
    <link rel="icon" type="image/png" sizes="96x96" href="__STATIC__/assets/img/favicon.ico">
    <script src="__STATIC__/js/vue.js"></script>
    {load href="__JS__/jquery-3.4.1.min.js"/}
    <script src="__STATIC__/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="__STATIC__/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="__STATIC__/assets/scripts/klorofil-common.js"></script>
    {load href="__LAYUI__/layui.js"/}
    {load href="__JS__/admin/layout.js"/}
    <style>
        body{
            font-size: 15px;
        }
    </style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="__STATIC__/assets/img/logo.png" alt="赛思特 Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{$Request.session.name}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('index/index/index')}"><i class="lnr lnr-user"></i><span>个人资料</span></a></li>
                            <li><a href="javascript:;" class="login-out" onclick="logout()"><i class="lnr lnr-exit"></i> <span>退出登录</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav" id="nav" style="margin-top:20px;">
                    <li><a href="{:url('index/index/index')}" {if condition="$action == 'index'"}class="active"{/if}><i class="lnr lnr-home"></i> <span>基本信息</span></a></li>
                    <li><a href="{:url('index/project/index')}" {if condition="$action == 'project'"}class="active"{/if}><i class="lnr lnr-book"></i> <span>我的项目</span></a></li>
                    <li><a href="{:url('index/project/add')}" {if condition="$action == 'add'"}class="active"{/if}><i class="lnr lnr-code"></i> <span>提交项目</span></a></li>
                    <li><a href="{:url('index/index/about')}" {if condition="$action == 'about'"}class="active"{/if}><i class="lnr lnr-diamond"></i> <span>关于SIST</span></a></li>
                    <li><a href="javascript:;" class="login-out" onclick="logout()"><i class="lnr lnr-exit"></i> <span>退出登录</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT 模板继承-->
        {block name="content"}{/block}
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="text-left">Copyright &copy; <a href="http://www.zzsist.com/" target="_blank">2019.SIST</a></p>
        </div>
    </footer>
</div>

    <script type="text/javascript" >
        //获取div下面所有的a标签（返回节点对象）
        var myNav = document.getElementById("nav").getElementsByTagName("a");
        //获取当前窗口的url
        var myURL = document.location.href;
        //循环div下面所有的链接，
        for(var i=1;i<myNav.length;i++){
            //获取每一个a标签的herf属性
            var links = myNav[i].getAttribute("href");
            var myURL = document.location.href;
            //查看div下的链接是否包含当前窗口，如果存在，则给其添加样式
            if(myURL.indexOf(links) != -1){
                myNav[i].className="active";
                myNav[0].className="";
            }
        }
        layui.use(['element', 'layer', 'layuimini'], function () {
            var $ = layui.jquery,
                element = layui.element,
                layer = layui.layer;
            layuimini.init('');

        });
        // 退出登录
        function logout() {
            layer.confirm('您确定要退出吗？',{
                icon: 3,
                skin: 'layer-ext-moon'
            },function(index){
                window.location = '{:url("login/logout")}';
            });
        }


    </script>
</body>
</html>