<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title|default='赛思特'}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="__STATIC__/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="__STATIC__/assets/css/main.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/zheDie.css">
    {load href="__CSS__/public/public.css"/}
    {load href="__LAYUI__/css/layui.css"/}
    {load href="__CSS__/admin/layuimini.css"/}
    {load href="__CSS__/font-awesome-4.7.0/css/font-awesome.min.css"/}
    {load href="__CSS__/iconfont/iconfont.css"/}
    {load href="__CSS__/admin/admin.css"/}
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="__STATIC__/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="icon" type="image/png" sizes="96x96" href="__STATIC__/assets/img/favicon.ico">
    <script src="__STATIC__/js/vue.js"></script>
    <style>
        body{
            font-size: 15px;
        }
        </style>
</head>
