@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Microsoft YaHei', PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, simsun, sans-serif;
}

a {
    background: transparent;
    text-decoration: none;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:active {
    outline: 0;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

.app-title h2 {
    padding-bottom: .8rem;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clr {
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.title_C {
    width: 100%;
    margin: 70px auto;
}

.title_C span {
    display: block;
    font-size: 38px;
    color: #0a0a0a;
    text-align: center;
}

.title_C i {
    display: block;
    width: 76px;
    margin: 10px auto;
    height: 3px;
    background-color: #5673fb
}

.logo_m {
    width: 80%;
    margin: 0.6rem;
}

.logo_m img {
    width: 100%;
}

.D_banner {
    width: 100%;
}

.D_banner img {
    width: 100%
}

.youshi-box {
    border-bottom: 1px solid #e7e7e7;
}

.youshi-box .youshi_list {
    margin: 0 auto;
    height: 120px;
}

.youshi-box .youshi_cont {
    height: 60px;
    margin-top: 32px;
    border-right: 1px solid #e7e7e7;
}

.youshi-box .youshi_list:hover {
    border-bottom: 3px solid #5673fb;
    cursor: pointer;
}

.youshi-box .youshi_icon {
    margin-left: 16%;
}

.youshi-box .youshi_icon img {
    width: 100%;
}

.youshi-box .list_right {
    margin-left: 5%;
}

.youshi-box .list_right .youshi_title {
    font-size: 21px;
    color: #1a1a1a;
}

.youshi-box .list_right span {
    font-size: 16px;
    color: #5c5c5c;
}

.tedian_box .tedian_list {
    text-align: center;
}

.tedian_box .tedian_list .tedian_img {
    width: 100%;
    border: 1px solid #bedcf8;
    box-shadow: 0px 0px 24px 0px rgba(18, 91, 206, 0.12);
}

.tedian_box .tedian_list .tedian_img img {
    display: block;
    margin: 60px auto;
    width: 86%;
}

.tedian_box .tedian_list span {
    font-size: 26px;
    color: #5673fb;
    line-height: 60px;
    margin-top: 20px;
    display: block;
}

.tedian_box .tedian_list p {
    font-size: 16px;
    color: #6b6b6b;
    line-height: 30px;
}

.dh_t {
    margin: 30px 0;
}

.dh_t img {
    margin-top: -22px;
    display: inline-block;
    margin-right: 10px;
}

.dh_t span {
    font-size: 36px;
    color: #5673fb;
}

.dh_img {
    margin-top: 30px;
}

.dh_cont li {
    font-size: 16px;
    color: #4c4c4c;
    line-height: 26px;
    margin-bottom: 20px;
}

.dh_cont li i {
    margin-top: 14px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5673fb
}

.dh_right {
    margin-top: 130px
}

.dh_icon {
    display: inline-block;
}

.page_box {
    margin: 40px auto;
}

.chuangjian_box .cj_left span {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 24px;
    color: #2b2b2b;
}

.chuangjian_box .cj_text_l p {
    margin-right: 48px;
    font-size: 16px;
    color: #5c5c5c;
    line-height: 26px;
}

.chuangjian_box .cj_text_l .cj_btn {
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #5674fa;
    cursor: pointer;
}

.cj_left {
    margin-top: 130px;
}

.cj_right {
    text-align: center;
    border: 1px solid #bbd6ee;
    box-shadow: 0px 0px 100px 0px rgba(104, 131, 248, 0.12);
}

.chuangjian_box .cj_text_r {
    text-align: right;
}

.chuangjian_box .cj_text_r p {
    text-align: right;
    margin-left: 48px;
    line-height: 26px;
}

.chuangjian_box .cj_text_r .cj_btn {
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #5674fa;
    cursor: pointer;
}

.contact_box {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    background: url("../img/img07.jpg")/*tpa=http://qkl.jinbocc.com/templates/jinbo_qkl/css/images/chengdui/img07.jpg*/center no-repeat;
    background-size: 100% 100%;
}

.contact_box p {
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding: 60px 0;
    margin: 0;
}

.contact_box .zixuan {
    width: 250px;
    height: 72px;
    line-height: 72px;
    cursor: pointer;
    color: #fff;
    font-size: 28px;
    border: 2px solid #fff;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px!important;
    }
    .logo_m {
        display: none;
    }
    .D_banner_mobile {
        display: none;
    }
    .duihuan_mobile {
        display: none;
    }
    .chuangjian_mobile {
        display: none!important;
    }
    .page_mobile {
        display: none;
    }
}

@media (max-width:750px) {
    .D_banner {
        display: none;
    }
    .duihuan_pc {
        display: none;
    }
    .chuangjian_pc {
        display: none!important;
    }
    .page_pc {
        display: none;
    }
    .title_C {
        margin: 34px auto;
    }
    .title_C span {
        font-size: 28px;
    }
    .youshi-box .youshi_list {
        height: 170px;
        border: 1px solid #f5f5f5;
    }
    .youshi-box .youshi_cont {
        border-right: none;
    }
    .youshi-box .youshi_icon {
        margin-left: 38%;
    }
    .youshi-box .list_right {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .youshi-box .list_right .youshi_title {
        line-height: 48px;
        text-align: center;
    }
    .youshi-box .list_right span {
        display: block;
        text-align: center;
    }
    .dh_img {
        margin-top: 0px;
    }
    .dh_right {
        margin-top: 0px;
    }
    .dh_cont p {
        display: inline;
        font-size: 15px;
    }
    .dh_t {
        margin: 20px 0;
    }
    .cj_left {
        margin-top: 0px;
    }
    .contact_box {
        margin-top: 0px;
        height: 160px;
    }
    .contact_box p {
        font-size: 20px;
        padding: 30px 0;
    }
    .contact_box .zixuan {
        width: 120px;
        height: 42px;
        line-height: 40px;
        font-size: 16px;
        border: 1px solid #fff;
        border-radius: 6px;
    }
    .dh_right_img img {
        display: block;
        width: 68%;
        margin: 0 auto;
    }
    .dh_t img {
        margin-top: -16px;
        width: 80%
    }
    .dh_icon {
        width: 40px;
        margin: 0 auto;
    }
    .dh_t span {
        font-size: 28px;
    }
    .page_box {
        margin: 15px auto;
    }
    .chuangjian_box .cj_left span {
        margin: 20px 0 10px 0;
    }
    .chuangjian_box .cj_text_l p {
        margin-right: 0px;
    }
    .chuangjian_box .cj_text_l .cj_btn,
    .chuangjian_box .cj_text_r .cj_btn {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .cj_right_img img {
        width: 70%
    }
    .chuangjian_box .cj_text_r p {
        margin-left: 0px;
    }
    .tedian_box .tedian_list {
        margin-bottom: 24px;
    }
    .tedian_box .tedian_list span {
        font-size: 26px;
        line-height: 40px;
        margin-top: 12px;
    }
    .tedian_box .tedian_list p {
        line-height: 26px;
        width: 90%;
        margin: 0 auto;
    }
    .tedian_box .tedian_list .tedian_img {
        width: 94%;
        margin: 0 auto;
    }
}