{include file="public/header"}

{include file="public/nav"}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-profile">
                <div class="clearfix">
                    <!-- LEFT COLUMN -->
                    <div class="profile-left">
                        <!-- PROFILE HEADER -->
                        <div class="profile-header">
                            <div class="overlay"></div>
                            <div class="profile-main">
                                <img src="__STATIC__/images/wechat-logo.png" width="60" class="img-circle" alt="Avatar">
                                <h3 class="name">{$Request.session.user_name}</h3>
                            </div>
                            <div class="profile-stat">
                                <div class="row">
                                    <div class="col-md stat-item">
                                        <a href="{:url('project/index')}"><span>{$count} 个项目</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PROFILE HEADER -->
                        <!-- PROFILE DETAIL -->
                        <div class="profile-detail">
                            <div class="profile-info">
                                <h4 class="heading">基础资料</h4>
                                <ul class="list-unstyled list-justify">
                                    <li>手机 <span>{$data.mobile}</span></li>
                                    <li>姓名 <span>{$data.truename}</span></li>
                                </ul>
                            </div>
                            <div class="text-center"><a href="{:url('user/edit',array('id'=>session('user_id')))}" class="btn btn-primary">编辑资料</a></div>
                        </div>
                        <!-- END PROFILE DETAIL -->
                    </div>
                    <!-- END LEFT COLUMN -->
                    {include file="public/footer"}